report {
    enabled = true
    file = "nextflow.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline.html"
}

// configs for NYULMC Big Purple HPC cluster
params.ref_dir = "/gpfs/scratch/kellys04/molecpathlab/ref"
params.ANNOVAR_DB_DIR = "${params.ref_dir}/annovar/db"
params.ref_fa = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
params.ref_fai = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
params.ref_dict = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.dict"

params.clusterOptions = '--ntasks-per-node=1 --export=NONE --export=NTHREADS'
params.SLURM_vars='SLURM_JOB_ID SLURM_JOB_NAME SLURM_JOB_NODELIST SLURM_JOB_PARTITION SLURM_MEM_PER_CPU SLURM_MEM_PER_NODE SLURM_PRIO_PROCESS SLURM_SUBMIT_DIR SLURM_SUBMIT_HOST SLURM_TASK_PID SLURMD_NODENAME'
singularity.enabled = true
singularity.autoMounts = true

// location for Singularit container files
params.containerDir = "/gpfs/data/molecpathlab/containers/NGS580-nf"

// ANNOVAR annotation parameters
params.ANNOVAR_BUILD_VERSION ="hg19"
params.ANNOVAR_PROTOCOL = "refGene,clinvar_20170905,cosmic70,1000g2015aug_all,avsnp150,exac03,snp138"
params.ANNOVAR_OPERATION ="g,f,f,f,f,f,f"


executor {
            $slurm {
                queueSize = 50
                exitReadTimeout = '100h' // needed for "terminated for an unknown reason -- Likely it has been terminated by the external system" errors
            }
            $local {
                queueSize = 4
            }
        }

process {
    // settings for NYULMC Big Purple HPC
    clusterOptions = "${params.clusterOptions}"
    module = "singularity/2.5.2"
    executor = 'slurm'
    cpus = 1
    queue = "cpu_medium"
    memory = { 4.GB * task.cpus }
    time = '36h'

    beforeScript = """
    . /etc/profile.d/modules.sh;
    sleep 1;
    printf "USER:\${USER:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD NTHREADS:\${NTHREADS:-none}\n";
    for item in ${params.SLURM_vars}; do printf "\${item}: \${!item:-none}\t"; done;
    echo "";
    TIMESTART=\$(date +%s);
    env > .env.begin;
    set -x;
    """

    afterScript = """
    printf "elapsed time: %s\n" \$((\$(date +%s) - \${TIMESTART:-0}));
    env > .env.end;
    """

    withName: pindel_noChunk {
        cpus = 40
        container = "${params.containerDir}/pindel-0.2.5b9.simg"
        beforeScript = "export NTHREADS=40; ${process.beforeScript}"
    }
    withName: pindel_chromChunk {
        cpus = 16
        container = "${params.containerDir}/pindel-0.2.5b9.simg"
        beforeScript = "export NTHREADS=8; ${process.beforeScript}"
    }
    withName: pindel_nChunk {
        cpus = 16
        container = "${params.containerDir}/pindel-0.2.5b9.simg"
        beforeScript = "export NTHREADS=8; ${process.beforeScript}"
    }
    withName: pindel_lineChunk {
        cpus = 16
        container = "${params.containerDir}/pindel-0.2.5b9.simg"
        beforeScript = "export NTHREADS=8; ${process.beforeScript}"
    }
}
